# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"  # this enables searching only in /.github/workflows directory
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    commit-message:
      prefix: "[gha] "

  - package-ecosystem: pip
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: pip
    directory: /standalone-node
    schedule:
      interval: weekly
