---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Labeler

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write      # needed so the action can apply labels to PRs
  issues: write             # needed so the action can apply labels to Issues

jobs:
  label:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    # Only run for PRs from the main repository (skip forks like Dependabot)
    if: >
      github.event.pull_request.head.repo.full_name == github.repository &&
      github.actor != 'dependabot[bot]'
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9  # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b  # v6.0.1
        with:
          repo-token: ${{ secrets.SYS_EMF_GH_TOKEN }}
